<h1><a href={% url 'subreadit' sub.name %}>{{sub.name}}</a></h1>
<h2>{{post.title}}</h2>
<p>Created on {{post.created_at}}</p>

<p>{{post.content}}</p>
<p>
    <button><a href={% url 'post_action' sub.name post.id 'upvote' %}>{{votes.can_upVote|yesno:"Up vote:,Remove up vote:"}}</a></button> {{ votes.upVotes }} |
    <button><a href={% url 'post_action' sub.name post.id 'downvote' %}>{{votes.can_downVote|yesno:"Down vote:,Remove Down vote:"}}</a></button> {{ votes.downVotes }}
</p>
<hr>
<h3>Leave a comment below:</h3>
<!-- comment form -->
<form action="" method="POST">
    {% csrf_token %} 
    {{form.as_p}}
    <input type="submit" value="Comment" />
</form>
<hr>
<h3>Comments:</h3>
{% for comment in comments %}
    <ul>- {{comment.content}}</ul>
{% endfor %}
<hr>
<p>
    <a href={% url 'homepage' %}><button>Home</button></a>
</p>
