{% load static %}
<h1>Welcome to the {{subreadit.name}} community</h1>

{% if subreadit.description %}
<p>{{subreadit.description}}</p>
{% endif %}
{% if subreadit.image %}
  <img src="{{ subreadit.image.url }}" style="width: 200px; height: 200px" /><br />
{% endif %}
<a href="{{subscribe_link}}">{{subscription|yesno:"Unsubscribe,Subscribe"}}</a>
<h3>Add a post</h3>
<!-- post form goes here -->
<form action="" method="POST">
  {% csrf_token %} {{form.as_p}}
  <input type="submit" value="Add Post" />
</form>
{% for post in posts %}
  {% include "post_snippet.html" %}
{% endfor %}